body {
	background: #333;
}

/* windows */
.window {
	position: absolute;
	width: 512px;
	height: 256px;
	background: #ddd;
	overflow: auto;
	resize: both;
}

.window-title {
	width: calc(100% - 4px);
	height: 32px;
	padding: 2px;
	background: #0af;
}

.window-content {
	width: 100%;
	height: calc(100% - 36px);
	overflow: auto;
}

/* misc. */

.addbtn {
	margin: 1em;
	width: 3em;
	height: 3em;
	display: block;
	background: url("./img/explorer.png");
	background-size: contain;
}